package {{.ApplicationPackage}}.dto.request;

import io.swagger.v3.oas.annotations.media.Schema;
import jakarta.validation.constraints.NotBlank;
import jakarta.validation.constraints.NotNull;
import {{.InfrastructurePackage}}.model.{{.ModelName}};

import java.time.LocalDateTime;

public record {{.DomainUpperCase}}CreateRequest(
    {{- range $index, $element := .Columns}}
        {{- if not (or (eq .Name "RGTR_ID") (eq .Name "MDFR_ID") (.IsDefault)) }}
        @Schema(description = "{{.Comment}}")
        {{.Type}} {{.LowerCaseName}}{{if ne $index (lastIndex $.Columns)}},{{- end}}
        {{ end}}
    {{- end}}
) {
    public {{.ModelName}} toModel(String userId) {
        return {{.ModelName}}.builder()
            {{- range $index, $element := .Columns}}
                {{- if .IsDefault }}
                {{- else if (or (eq .Name "RGTR_ID") (eq .Name "MDFR_ID")) }}
                .{{.LowerCaseName}}(userId)
                {{- else }}
                .{{.LowerCaseName}}(this.{{.LowerCaseName}})
                {{- end}}
            {{- end}}
                .build();
    }
}
