package {{.ApplicationPackage}}.dto.response;

import lombok.Builder;
import {{.InfrastructurePackage}}.model.{{.ModelName}};

@Builder
public record {{.DomainUpperCase}}Response(
    {{- range $index, $element := .Columns }}
    {{ if $index }},{{ end }}
    {{.Type}} {{.Name}}
    {{end}}
) {
    public static {{.DomainUpperCase}}Response from({{.ModelName}} {{$.DomainLowerCase}}) {
        return {{.DomainUpperCase}}Response.builder()
            {{range .Columns}}
            .{{.Name}}({{$.DomainLowerCase}}.get{{.UpperCaseName}}())
            {{end}}
            .build();
    }
}