package {{.ApplicationPackage}}.dto.response;

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Builder;
import {{.InfrastructurePackage}}.model.{{.ModelName}};

import java.time.LocalDateTime;

@Builder
public record {{.DomainUpperCase}}Response(
    {{- range $index, $element := .Columns }}
        @Schema(description = "{{.Comment}}")
        {{.Type}} {{.LowerCaseName}}{{if ne $index (lastIndex $.Columns)}},{{- end}}
    {{ end }}
) {
    public static {{.DomainUpperCase}}Response from({{.ModelName}} {{$.DomainLowerCase}}) {
        return {{.DomainUpperCase}}Response.builder()
            {{- range .Columns }}
            .{{.LowerCaseName}}({{$.DomainLowerCase}}.get{{.UpperCaseName}}())
            {{- end }}
            .build();
    }
}