package {{.ApplicationPackage}}.dto.request;

import io.swagger.v3.oas.annotations.media.Schema;
import jakarta.validation.constraints.NotBlank;
import lombok.Builder;
import {{.InfrastructurePackage}}.model.{{.ModelUpperCase}};

@Builder
public record {{.DomainUpperCase}}SelectRequest(
    {{- range $index, $element := .Columns }}
        {{- if .IsPrimaryKey}}
        @Schema(description = "{{.Comment}}")
        @NotBlank(message = "{field.notBlank}")
        {{.Type}} {{.LowerCaseName}}{{if ne $index (lastPrimaryKeyIndex $.Columns)}},{{- end}}
        {{end}}
    {{- end}}
) {
    public static {{.DomainUpperCase}}SelectRequest from(
    {{- range $index, $element := .Columns }}
        {{- if $element.IsPrimaryKey}}
        {{ $element.Type }} {{ $element.LowerCaseName }}{{if ne $index (lastPrimaryKeyIndex $.Columns)}},{{end}}
        {{- end}}
    {{- end}}
    ) {
        return {{.DomainUpperCase}}SelectRequest.builder()
                {{- range .Columns}}
                {{- if .IsPrimaryKey}}
                .{{.LowerCaseName}}({{.LowerCaseName}})
                {{- end}}
                {{- end}}
                .build();
    }

    public {{.ModelUpperCase}} toModel() {
        return {{.ModelUpperCase}}.builder()
                {{- range .Columns}}
                {{- if .IsPrimaryKey}}
                .{{.LowerCaseName}}(this.{{.LowerCaseName}})
                {{- end}}
                {{- end}}
                .build();
    }
}
