package {{.ApplicationPackage}}.dto.request;

import lombok.Builder;
import {{.InfrastructurePackage}}.model.{{.ModelName}};

@Builder
public record {{.DomainUpperCase}}UpdateRequest(
) {
    public {{.ModelName}} toModel(String userId) {
        return {{.ModelName}}.builder()
                .rgtrId(userId)
                .mdfrId(userId)
                .build();
    }
}
