package {{.PackageName}}.dao;

import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import java.util.List;
import {{.InfrastructurePackage}}.mapper.{{.ModelUpperCase}}CommandMapper;
import {{.InfrastructurePackage}}.model.{{.ModelUpperCase}};
import org.springframework.transaction.annotation.Transactional;

@Service
@RequiredArgsConstructor
public class {{.ModelUpperCase}}CommandService {

    private final {{.ModelUpperCase}}CommandMapper {{.ModelLowerCase}}CommandMapper;

    @Transactional
    public void create{{.DomainUpperCase}}({{.ModelUpperCase}} createModel) {
        {{.ModelLowerCase}}CommandMapper.create{{.DomainUpperCase}}(createModel);
    }

    @Transactional
    public void update{{.DomainUpperCase}}({{.ModelUpperCase}} updateModel) {
        {{.ModelLowerCase}}CommandMapper.update{{.DomainUpperCase}}(updateModel);
    }

    @Transactional
    public void delete{{.DomainUpperCase}}(List<{{.ModelUpperCase}}> deleteModels) {
        {{.ModelLowerCase}}CommandMapper.delete{{.DomainUpperCase}}(deleteModels);
    }
}
