package {{.PackageName}}.dao;

import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import java.util.List;
import {{.InfrastructurePackage}}.mapper.{{.ModelName}}CommandMapper;
import {{.InfrastructurePackage}}.model.{{.ModelName}};

@Service
@RequiredArgsConstructor
public class {{.ModelName}}CommandService {

    private final {{.ModelName}}CommandMapper commandMapper;

    public void create{{.DomainUpperCase}}({{.ModelName}} createModel) {
        commandMapper.create{{.DomainUpperCase}}(createModel);
    }

    public void update{{.DomainUpperCase}}({{.ModelName}} updateModel) {
        commandMapper.update{{.DomainUpperCase}}(updateModel);
    }

    public void delete{{.DomainUpperCase}}(List<{{.ModelName}}> deleteModels) {
        commandMapper.delete{{.DomainUpperCase}}(deleteModels);
    }
}
