package {{.PackageName}}.mapper;

import org.apache.ibatis.annotations.Mapper;
import java.util.List;
import {{.InfrastructurePackage}}.model.{{.ModelUpperCase}};

@Mapper
public interface {{.ModelUpperCase}}CommandMapper {
    void create{{.DomainUpperCase}}({{.ModelUpperCase}} createModel);

    void update{{.DomainUpperCase}}({{.ModelUpperCase}} updateModel);

    void delete{{.DomainUpperCase}}(List<{{.ModelUpperCase}}> deleteModelList);
}
