package {{.PackageName}}.model;

import lombok.*;

import java.time.LocalDateTime;

@Getter
@Builder
@NoArgsConstructor
@AllArgsConstructor
@ToString
public class {{.ModelName}} {
    {{- range .Columns}}
    private {{.Type}} {{.LowerCaseName}};      // {{.Comment}}
    {{- end}}
}