package {{.PackageName}}.model;

import lombok.*;

import java.time.LocalDateTime;

@Getter
@Builder
@NoArgsConstructor
@AllArgsConstructor
@ToString
public class {{.ModelName}} {
    private LocalDateTime regDt;      // 등록일시
    private String rgtrId;            // 등록자아이디
    private LocalDateTime mdfcnDt;    // 수정일시
    private String mdfrId;            // 수정자 아이디
}
