package {{.PackageName}}.dao;

import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import java.util.List;
import {{.InfrastructurePackage}}.mapper.{{.ModelUpperCase}}QueryMapper;
import {{.InfrastructurePackage}}.model.{{.ModelUpperCase}};
import org.springframework.transaction.annotation.Transactional;

@Service
@RequiredArgsConstructor
public class {{.ModelUpperCase}}QueryService {

    private final {{.ModelUpperCase}}QueryMapper {{.ModelLowerCase}}QueryMapper;

    @Transactional(readOnly = true)
    public List<{{.ModelUpperCase}}> select{{.DomainUpperCase}}List() {
        return {{.ModelLowerCase}}QueryMapper.select{{.DomainUpperCase}}List();
    }

    @Transactional(readOnly = true)
    public {{.ModelUpperCase}} select{{.DomainUpperCase}}({{.ModelUpperCase}} selectModel) {
        return {{.ModelLowerCase}}QueryMapper.select{{.DomainUpperCase}}(selectModel)
                .orElseThrow(() -> new TpsException(ErrorCodeGeneral.DATA_NOT_FOUND));
    }
}
