package {{.PackageName}}.mapper;

import org.apache.ibatis.annotations.Mapper;
import java.util.List;
import {{.InfrastructurePackage}}.model.{{.ModelUpperCase}};

@Mapper
public interface {{.ModelUpperCase}}QueryMapper {
    List<{{.ModelUpperCase}}> select{{.DomainUpperCase}}List();

    Optional<{{.ModelUpperCase}}> select{{.DomainUpperCase}}({{.ModelUpperCase}} selectModel);
}
