package {{.PackageName}}.mapper;

import org.apache.ibatis.annotations.Mapper;
import java.util.List;
import {{.PackageName}}.model.{{.ModelName}};

@Mapper
public interface {{.ModelName}}QueryMapper {
    List<{{.ModelName}}> select{{.DomainUpperCase}}List();

    {{.ModelName}} select{{.DomainUpperCase}}();
}
