package {{.PackageName}}.dao;

import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import java.util.List;
import {{.PackageName}}.mapper.{{.ModelName}}QueryMapper;
import {{.PackageName}}.model.{{.ModelName}};

@Service
@RequiredArgsConstructor
public class {{.ModelName}}QueryService {

    private final {{.ModelName}}QueryMapper queryMapper;

    public List<{{.ModelName}}> select{{.DomainUpperCase}}List() {
        return queryMapper.select{{.DomainUpperCase}}List();
    }

    public {{.ModelName}} select{{.DomainUpperCase}}() {
        return queryMapper.select{{.DomainUpperCase}}();
    }
}
