package {{.PackageName}}.impl;

import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import {{.ApplicationPackage}}.dto.request.{{.DomainUpperCase}}CreateRequest;
import {{.ApplicationPackage}}.dto.request.{{.DomainUpperCase}}SelectRequest;
import {{.ApplicationPackage}}.dto.request.{{.DomainUpperCase}}UpdateRequest;
import {{.DomainPackage}}.{{.DomainUpperCase}}CommandService;
import {{.InfrastructurePackage}}.dao.{{.ModelName}}CommandService;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;

@Slf4j
@Service
@RequiredArgsConstructor
public class {{.DomainUpperCase}}CommandServiceImpl implements {{.DomainUpperCase}}CommandService {
    private final {{.ModelName}}CommandService commandService;

    @Transactional
    public void create{{.DomainUpperCase}}({{.DomainUpperCase}}CreateRequest createRequest, String userId) {
        commandService.create{{.DomainUpperCase}}(createRequest.toModel(userId));
    }

    @Transactional
    public void update{{.DomainUpperCase}}({{.DomainUpperCase}}UpdateRequest updateRequest, String userId) {
        commandService.update{{.DomainUpperCase}}(updateRequest.toModel(userId));
    }

    @Transactional
    public void delete{{.DomainUpperCase}}(List<{{.DomainUpperCase}}SelectRequest> deleteRequests) {
        commandService.delete{{.DomainUpperCase}}(deleteRequests.stream()
                .map({{.DomainUpperCase}}SelectRequest::toModel)
                .toList());
    }
}
