package {{.DomainPackage}}.impl;

import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import {{.ApplicationPackage}}.dto.response.{{.DomainUpperCase}}Response;
import {{.DomainPackage}}.{{.DomainUpperCase}}QueryService;
import {{.InfrastructurePackage}}.dao.{{.ModelName}}QueryService;
import org.springframework.stereotype.Service;

import java.util.List;

@Slf4j
@Service
@RequiredArgsConstructor
public class {{.DomainUpperCase}}QueryServiceImpl implements {{.DomainUpperCase}}QueryService {

    private final {{.ModelName}}QueryService queryService;

    @Override
    public List<{{.DomainUpperCase}}Response> select{{.DomainUpperCase}}List() {
        return queryService.select{{.DomainUpperCase}}List()
                .stream()
                .map({{.DomainUpperCase}}Response::from)
                .toList();
    }

    @Override
    public {{.DomainUpperCase}}Response select{{.DomainUpperCase}}({{.DomainUpperCase}}SelectRequest selectRequest) {
        return {{.DomainUpperCase}}Response
                .from(queryService.select{{.DomainUpperCase}}(selectRequest.toModel()));
    }
}
