package {{.DomainPackage}};

import {{.ApplicationPackage}}.dto.response.{{.DomainUpperCase}}Response;

import java.util.List;

public interface {{.DomainUpperCase}}QueryService {
    List<{{.DomainUpperCase}}Response> select{{.DomainUpperCase}}List();

    {{.DomainUpperCase}}Response select{{.DomainUpperCase}}({{.DomainUpperCase}}SelectRequest selectRequest);
}
