<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{.InfrastructurePackage}}.mapper.{{.ModelName}}CommandMapper">

    <insert id="create{{.DomainUpperCase}}"
            parameterType="{{.InfrastructurePackage}}.model.{{.ModelName}}">
        INSERT INTO {{.Table}} (
                /*{{.InfrastructurePackage}}.repository.{{.ModelName}}CommandMapper.create{{.DomainUpperCase}}*/
            {{- range $index, $element := .Columns }}
              {{ if $index }}, {{ else }}  {{ end }}{{- .Name}}
            {{- end }}
        ) VALUES (
            {{- range $index, $element := .Columns }}
                {{- if $index }},{{ end }}
                #{{printf "{%s}" .LowerCaseName}}
            {{- end }}
        )
    </insert>

    <update id="update{{.DomainUpperCase}}"
            parameterType="{{.InfrastructurePackage}}.model.{{.ModelName}}">
        UPDATE {{.Table}}
               /*{{.InfrastructurePackage}}.repository.{{.ModelName}}CommandMapper.update{{.DomainUpperCase}}*/
           SET
   {{- range $index, $element := .Columns }}
       {{- if not $element.IsPrimaryKey }}
             {{ if ne $index  (firstNonPrimaryKeyIndex $.Columns)}}, {{ else }}  {{ end }}{{.Name}} = #{{printf "{%s}" .LowerCaseName}}
       {{- end }}
   {{- end }}
         WHERE
       {{- range $index, $element := .Columns }}
           {{- if $element.IsPrimaryKey }}
           {{ if ne $index  (firstPrimaryKeyIndex $.Columns)}}AND {{ else }}    {{ end }}{{.Name}} = #{{printf "{%s}" .LowerCaseName}}
           {{- end }}
       {{- end }}
    </update>

    <delete id="delete{{.DomainUpperCase}}"
            parameterType="{{.InfrastructurePackage}}.model.{{.ModelName}}">
        DELETE /*{{.InfrastructurePackage}}.repository.{{.ModelName}}CommandMapper.delete{{.DomainUpperCase}}*/
          FROM {{.Table}}
         WHERE
       {{- range $index, $element := .Columns }}
           {{- if .IsPrimaryKey }}
               {{- if ne $index 0 }}
               AND
               {{- end }}
               {{.Name}} IN (
               <foreach collection="list" index="index" item="item" separator=",">
                  #{{printf "{item.%s}" .LowerCaseName}}
               </foreach>
               )
           {{- end }}
       {{- end }}
    </delete>
</mapper>
