<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{.InfrastructurePackage}}.mapper.{{.ModelUpperCase}}QueryMapper">

    <!-- {{.ModelUpperCase}} 전체 리스트 조회 -->
    <select id="select{{.DomainUpperCase}}List"
            resultType="{{.InfrastructurePackage}}.model.{{.ModelUpperCase}}">
        SELECT /*{{.InfrastructurePackage}}.mapper.{{.ModelUpperCase}}QueryMapper.select{{.DomainUpperCase}}List*/
            {{- range $index, $element := .Columns }}
             {{ if $index }}, {{ else }}  {{ end }}{{- .Name}}
            {{- end }}
          FROM {{.Table}}
    </select>

    <!-- {{.ModelUpperCase}} 단일 조회 -->
    <select id="select{{.DomainUpperCase}}"
            parameterType="{{.InfrastructurePackage}}.model.{{.ModelUpperCase}}"
            resultType="{{.InfrastructurePackage}}.model.{{.ModelUpperCase}}">
        SELECT /*{{.InfrastructurePackage}}.mapper.{{.ModelUpperCase}}QueryMapper.select{{.DomainUpperCase}}*/
            {{- range $index, $element := .Columns }}
             {{ if $index }}, {{ else }}  {{ end }}{{- .Name}}
            {{- end }}
          FROM {{.Table}}
         WHERE
       {{- range $index, $element := .Columns }}
           {{- if .IsPrimaryKey }}
               {{- if $index }} AND {{ end }}
               {{.Name}} = #{{printf "{%s}" .LowerCaseName}}
           {{- end }}
       {{- end }}
    </select>
</mapper>
