package {{.PackageName}}.dto.response;

import lombok.Builder;
import {{.PackageName}}.model.{{.ModelName}};

import java.time.LocalDateTime;

@Builder
public record {{.DomainUpperCase}}Response(
        LocalDateTime regDt,
        String rgtrId,
        LocalDateTime mdfcnDt,
        String mdfrId
) {
    public static {{.DomainUpperCase}}Response from({{.ModelName}} {{.DomainLowerCase}}) {
        return {{.DomainUpperCase}}Response.builder()
                .regDt({{.DomainLowerCase}}.getRegDt())
                .rgtrId({{.DomainLowerCase}}.getRgtrId())
                .mdfcnDt({{.DomainLowerCase}}.getMdfcnDt())
                .mdfrId({{.DomainLowerCase}}.getMdfrId())
                .build();
    }
}
