package {{.PackageName}}.dto.request;

import lombok.Builder;
import {{.PackageName}}.model.{{.ModelName}};

@Builder
public record {{.DomainUpperCase}}SelectRequest(
) {
    public {{.ModelName}} toModel() {
        return {{.ModelName}}.builder()
                .build();
    }
}
