package {{.PackageName}}.dto.request;

import lombok.Builder;
import {{.PackageName}}.model.{{.ModelName}};

@Builder
public record {{.DomainUpperCase}}UpdateRequest(
) {
    public {{.ModelName}} toModel(String userId) {
        return {{.ModelName}}.builder()
                .build();
    }
}
