<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.okestro.tps.api.infrastructure.persistence.mapper.TbTpsWk022CommandMapper">

    <insert id="createSltmDtl"
            parameterType="org.okestro.tps.api.infrastructure.persistence.model.TbTpsWk022">
        INSERT INTO TB_TPS_WK_022 (
                /*org.okestro.tps.api.infrastructure.persistence.repository.TbTpsWk022CommandMapper.createSltmDtl*/
                COMPN_SN
              , STEP_NM
              , TASK_AUTHRT_CD
              , APRVR_ID
              , RGTR_ID
              , MDFR_ID
        ) VALUES (
                #{compnSn}
              , #{stepNm}
              , #{taskAuthrtCd}
              , #{aprvrId}
              , #{rgtrId}
              , #{mdfrId}
        )
    </insert>

    <update id="updateSltmDtl"
            parameterType="org.okestro.tps.api.infrastructure.persistence.model.TbTpsWk022">
        UPDATE TB_TPS_WK_022
               /*org.okestro.tps.api.infrastructure.persistence.repository.TbTpsWk022CommandMapper.updateSltmDtl*/
           SET
               STEP_NM = #{stepNm}
             , TASK_AUTHRT_USE_YN = #{taskAuthrtUseYn}
             , TASK_AUTHRT_CD = #{taskAuthrtCd}
             , APRVR_ID = #{aprvrId}
             , APRVR_REL_CD = #{aprvrRelCd}
             , MDFCN_DT = #{mdfcnDt}
             , MDFR_ID = #{mdfrId}
         WHERE
               COMPN_SN = #{compnSn}
    </update>

    <delete id="deleteSltmDtl"
            parameterType="org.okestro.tps.api.infrastructure.persistence.model.TbTpsWk022">
        DELETE /*org.okestro.tps.api.infrastructure.persistence.repository.TbTpsWk022CommandMapper.deleteSltmDtl*/
          FROM TB_TPS_WK_022
         WHERE (COMPN_SN) IN (
               <foreach collection="list" index="index" item="item" separator=",">
               (
                  #{item.compnSn}
               )
               </foreach>
               )
    </delete>
</mapper>
