<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.okestro.tps.api.infrastructure.persistence.mapper.TbTpsCm052CommandMapper">

    <!-- TbTpsCm052 생성 -->
    <insert id="createPplnMapngInfo"
            parameterType="org.okestro.tps.api.infrastructure.persistence.model.TbTpsCm052">
        INSERT INTO TB_TPS_CM_052 (
                /*org.okestro.tps.api.infrastructure.persistence.repository.TbTpsCm052CommandMapper.createPplnMapngInfo*/
                WRKFLW_EXCN_NO
              , WRKFLW_INPT_NO
              , PPLN_NO
              , PPLN_VSRN
              , INOUT_SE
              , BIZ_NO
              , TASK_AUTHRT_CD
              , PRCR_ID
              , STTS_CD
              , RGTR_ID
              , MDFR_ID
        ) VALUES (
                #{wrkflwExcnNo}
              , #{wrkflwInptNo}
              , #{pplnNo}
              , #{pplnVsrn}
              , #{inoutSe}
              , #{bizNo}
              , #{taskAuthrtCd}
              , #{prcrId}
              , #{sttsCd}
              , #{rgtrId}
              , #{mdfrId}
        )
    </insert>

    <!-- TbTpsCm052 수정 -->
    <update id="updatePplnMapngInfo"
            parameterType="org.okestro.tps.api.infrastructure.persistence.model.TbTpsCm052">
        UPDATE TB_TPS_CM_052
               /*org.okestro.tps.api.infrastructure.persistence.repository.TbTpsCm052CommandMapper.updatePplnMapngInfo*/
           SET
               PPLN_NO = #{pplnNo}
             , PPLN_VSRN = #{pplnVsrn}
             , INOUT_SE = #{inoutSe}
             , BIZ_NO = #{bizNo}
             , TASK_AUTHRT_USE_YN = #{taskAuthrtUseYn}
             , TASK_AUTHRT_CD = #{taskAuthrtCd}
             , PRCR_ID = #{prcrId}
             , STTS_CD = #{sttsCd}
             , MDFCN_DT = #{mdfcnDt}
             , MDFR_ID = #{mdfrId}
         WHERE
               WRKFLW_EXCN_NO = #{wrkflwExcnNo}
           AND WRKFLW_INPT_NO = #{wrkflwInptNo}
    </update>

    <!-- TbTpsCm052 다중 삭제 -->
    <delete id="deletePplnMapngInfo"
            parameterType="org.okestro.tps.api.infrastructure.persistence.model.TbTpsCm052">
        DELETE /*org.okestro.tps.api.infrastructure.persistence.repository.TbTpsCm052CommandMapper.deletePplnMapngInfo*/
          FROM TB_TPS_CM_052
         WHERE (WRKFLW_EXCN_NO,WRKFLW_INPT_NO) IN (
               <foreach collection="list" index="index" item="item" separator=",">
               (
                  #{item.wrkflwExcnNo},
                  #{item.wrkflwInptNo}
               )
               </foreach>
               )
    </delete>
</mapper>
