<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.okestro.tps.api.infrastructure.persistence.mapper.TbTpsWk02cQueryMapper">

    <!-- TbTpsWk02c 전체 리스트 조회 -->
    <select id="selectcdMrgCelCompnDtlList"
            resultType="org.okestro.tps.api.infrastructure.persistence.model.TbTpsWk02c">
        SELECT /*org.okestro.tps.api.infrastructure.persistence.mapper.TbTpsWk02cQueryMapper.selectcdMrgCelCompnDtlList*/
               COMPN_CD
             , COMPN_VSRN
             , MERGE_TRGT_BRNCH_CD
             , TASK_AUTHRT_USE_YN
             , TASK_AUTHRT_CD
             , PRCR_ID
             , REG_DT
             , RGTR_ID
          FROM TB_TPS_WK_02C
    </select>

    <!-- TbTpsWk02c 단일 조회 -->
    <select id="selectcdMrgCelCompnDtl"
            parameterType="org.okestro.tps.api.infrastructure.persistence.model.TbTpsWk02c"
            resultType="org.okestro.tps.api.infrastructure.persistence.model.TbTpsWk02c">
        SELECT /*org.okestro.tps.api.infrastructure.persistence.mapper.TbTpsWk02cQueryMapper.selectcdMrgCelCompnDtl*/
               COMPN_CD
             , COMPN_VSRN
             , MERGE_TRGT_BRNCH_CD
             , TASK_AUTHRT_USE_YN
             , TASK_AUTHRT_CD
             , PRCR_ID
             , REG_DT
             , RGTR_ID
          FROM TB_TPS_WK_02C
         WHERE
               COMPN_CD = #{compnCd} AND 
               COMPN_VSRN = #{compnVsrn}
    </select>
</mapper>
